body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: #FF5964;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
  cursor: pointer;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.tooltip {
  opacity: 0;
  position: absolute;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font: 10px sans-serif;
}
