@import url('https://use.typekit.net/zhq6wfg.css');

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "objektiv-mk1", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: black;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.state {
  fill: #ccc;
  stroke: #53535F;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
}

.profile-image {
  max-height: 75px;
  max-width: 100px;
}

.city-person-modal {
  max-width: 100px;
}

#city-people-modal {
  position: absolute;
  right: 0;
  top: 0;
}

.bubble {
  fill: #FF5964;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
  cursor: pointer;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Margins */
.m-0{
  margin:0rem !important
}
.p-0{
  padding:0rem !important
}
.m-t-0{
  margin-top:0rem !important
}
.p-t-0{
  padding-top:0rem !important
}
.m-r-0{
  margin-right:0rem !important
}
.p-r-0{
  padding-right:0rem !important
}
.m-b-0{
  margin-bottom:0rem !important
}
.p-b-0{
  padding-bottom:0rem !important
}
.m-l-0{
  margin-left:0rem !important
}
.p-l-0{
  padding-left:0rem !important
}
.m-1{
  margin:0.25rem !important
}
.p-1{
  padding:0.25rem !important
}
.m-t-1{
  margin-top:0.25rem !important
}
.p-t-1{
  padding-top:0.25rem !important
}
.m-r-1{
  margin-right:0.25rem !important
}
.p-r-1{
  padding-right:0.25rem !important
}
.m-b-1{
  margin-bottom:0.25rem !important
}
.p-b-1{
  padding-bottom:0.25rem !important
}
.m-l-1{
  margin-left:0.25rem !important
}
.p-l-1{
  padding-left:0.25rem !important
}
.m-2{
  margin:0.5rem !important
}
.p-2{
  padding:0.5rem !important
}
.m-t-2{
  margin-top:0.5rem !important
}
.p-t-2{
  padding-top:0.5rem !important
}
.m-r-2{
  margin-right:0.5rem !important
}
.p-r-2{
  padding-right:0.5rem !important
}
.m-b-2{
  margin-bottom:0.5rem !important
}
.p-b-2{
  padding-bottom:0.5rem !important
}
.m-l-2{
  margin-left:0.5rem !important
}
.p-l-2{
  padding-left:0.5rem !important
}
.m-3{
  margin:0.75rem !important
}
.p-3{
  padding:0.75rem !important
}
.m-t-3{
  margin-top:0.75rem !important
}
.p-t-3{
  padding-top:0.75rem !important
}
.m-r-3{
  margin-right:0.75rem !important
}
.p-r-3{
  padding-right:0.75rem !important
}
.m-b-3{
  margin-bottom:0.75rem !important
}
.p-b-3{
  padding-bottom:0.75rem !important
}
.m-l-3{
  margin-left:0.75rem !important
}
.p-l-3{
  padding-left:0.75rem !important
}
.m-4{
  margin:1rem !important
}
.p-4{
  padding:1rem !important
}
.m-t-4{
  margin-top:1rem !important
}
.p-t-4{
  padding-top:1rem !important
}
.m-r-4{
  margin-right:1rem !important
}
.p-r-4{
  padding-right:1rem !important
}
.m-b-4{
  margin-bottom:1rem !important
}
.p-b-4{
  padding-bottom:1rem !important
}
.m-l-4{
  margin-left:1rem !important
}
.p-l-4{
  padding-left:1rem !important
}
.m-5{
  margin:2rem !important
}
.p-5{
  padding:2rem !important
}
.m-t-5{
  margin-top:2rem !important
}
.p-t-5{
  padding-top:2rem !important
}
.m-r-5{
  margin-right:2rem !important
}
.p-r-5{
  padding-right:2rem !important
}
.m-b-5{
  margin-bottom:2rem !important
}
.p-b-5{
  padding-bottom:2rem !important
}
.m-l-5{
  margin-left:2rem !important
}
.p-l-5{
  padding-left:2rem !important
}
.m-6{
  margin:3rem !important
}
.p-6{
  padding:3rem !important
}
.m-t-6{
  margin-top:3rem !important
}
.p-t-6{
  padding-top:3rem !important
}
.m-r-6{
  margin-right:3rem !important
}
.p-r-6{
  padding-right:3rem !important
}
.m-b-6{
  margin-bottom:3rem !important
}
.p-b-6{
  padding-bottom:3rem !important
}
.m-l-6{
  margin-left:3rem !important
}
.p-l-6{
  padding-left:3rem !important
}
.m-7{
  margin:4rem !important
}
.p-7{
  padding:4rem !important
}
.m-t-7{
  margin-top:4rem !important
}
.p-t-7{
  padding-top:4rem !important
}
.m-r-7{
  margin-right:4rem !important
}
.p-r-7{
  padding-right:4rem !important
}
.m-b-7{
  margin-bottom:4rem !important
}
.p-b-7{
  padding-bottom:4rem !important
}
.m-l-7{
  margin-left:4rem !important
}
.p-l-7{
  padding-left:4rem !important
}
.m-8{
  margin:5rem !important
}
.p-8{
  padding:5rem !important
}
.m-t-8{
  margin-top:5rem !important
}
.p-t-8{
  padding-top:5rem !important
}
.m-r-8{
  margin-right:5rem !important
}
.p-r-8{
  padding-right:5rem !important
}
.m-b-8{
  margin-bottom:5rem !important
}
.p-b-8{
  padding-bottom:5rem !important
}
.m-l-8{
  margin-left:5rem !important
}
.p-l-8{
  padding-left:5rem !important
}

/* Border Radius*/
.b-r-0{
  border-radius:0 !important
}
.b-r-4{
  border-radius:4px !important
}
.b-r-6{
  border-radius:6px !important
}
.b-r-8{
  border-radius:8px !important
}

/* Text */
.is-capitalized{
    text-transform:capitalize !important
}
.is-lowercase{
    text-transform:lowercase !important
}
.is-uppercase{
    text-transform:uppercase !important
}
.is-italic{
    font-style:italic !important
}
.has-text-white{
    color:white !important
}
a.has-text-white:hover,a.has-text-white:focus{
    color:#e6e6e6 !important
}
.has-background-white{
    background-color:white !important
}
.has-text-black{
    color:#0a0a0a !important
}
a.has-text-black:hover,a.has-text-black:focus{
    color:black !important
}
.has-background-black{
    background-color:#0a0a0a !important
}
.has-text-light{
    color:whitesmoke !important
}
a.has-text-light:hover,a.has-text-light:focus{
    color:#dbdbdb !important
}
.has-background-light{
    background-color:whitesmoke !important
}
.has-text-dark{
    color:#363636 !important
}
a.has-text-dark:hover,a.has-text-dark:focus{
    color:#1c1c1c !important
}
.has-background-dark{
    background-color:#363636 !important
}
.has-text-primary{
    color:#2E3C96 !important
}
a.has-text-primary:hover,a.has-text-primary:focus{
    color:#222c6f !important
}
.has-background-primary{
    background-color:#2E3C96 !important
}
.has-text-link{
    color:#3273dc !important
}
a.has-text-link:hover,a.has-text-link:focus{
    color:#205bbc !important
}
.has-background-link{
    background-color:#3273dc !important
}
.has-text-info{
    color:#1E90FF !important
}
a.has-text-info:hover,a.has-text-info:focus{
    color:#0077ea !important
}
.has-background-info{
    background-color:#1E90FF !important
}
.has-text-success{
    color:#0CCE60 !important
}
a.has-text-success:hover,a.has-text-success:focus{
    color:#099e4a !important
}
.has-background-success{
    background-color:#0CCE60 !important
}
.has-text-warning{
    color:#FED99B !important
}
a.has-text-warning:hover,a.has-text-warning:focus{
    color:#fdc669 !important
}
.has-background-warning{
    background-color:#FED99B !important
}
.has-text-danger{
    color:#FF5964 !important
}
a.has-text-danger:hover,a.has-text-danger:focus{
    color:#ff2634 !important
}
.has-background-danger{
    background-color:#FF5964 !important
}
.has-text-black-bis{
    color:#121212 !important
}
.has-background-black-bis{
    background-color:#121212 !important
}
.has-text-black-ter{
    color:#242424 !important
}
.has-background-black-ter{
    background-color:#242424 !important
}
.has-text-grey-darker{
    color:#363636 !important
}
.has-background-grey-darker{
    background-color:#363636 !important
}
.has-text-grey-dark{
    color:#4a4a4a !important
}
.has-background-grey-dark{
    background-color:#4a4a4a !important
}
.has-text-grey{
    color:#7a7a7a !important
}
.has-background-grey{
    background-color:#7a7a7a !important
}
.has-text-grey-light{
    color:#b5b5b5 !important
}
.has-background-grey-light{
    background-color:#b5b5b5 !important
}
.has-text-grey-lighter{
    color:#dbdbdb !important
}
.has-background-grey-lighter{
    background-color:#dbdbdb !important
}
.has-text-white-ter{
    color:whitesmoke !important
}
.has-background-white-ter{
    background-color:whitesmoke !important
}
.has-text-white-bis{
    color:#fafafa !important
}
.has-background-white-bis{
    background-color:#fafafa !important
}
.has-text-weight-light{
    font-weight:300 !important
}
.has-text-weight-normal{
    font-weight:400 !important
}
.has-text-weight-semibold{
    font-weight:600 !important
}
.has-text-weight-bold{
    font-weight:700 !important
}

.is-size-1{
    font-size:3rem !important
}
.is-size-2{
    font-size:2.5rem !important
}
.is-size-3{
    font-size:2rem !important
}
.is-size-4{
    font-size:1.5rem !important
}
.is-size-5{
    font-size:1.25rem !important
}
.is-size-6{
    font-size:1rem !important
}
.is-size-7{
    font-size:0.9375rem !important
}

/* Buttons */
.button{
    background-color:white;
    border-color:#dbdbdb;
    border-width:1px;
    color:#363636;
    cursor:pointer;
    justify-content:center;
    padding-bottom:calc(0.375em - 1px);
    padding-left:0.75em;
    padding-right:0.75em;
    padding-top:calc(0.375em - 1px);
    text-align:center;
    white-space:nowrap
}
.button strong{
    color:inherit
}
.button .icon,.button .icon.is-small,.button .icon.is-medium,.button .icon.is-large{
    height:1.5em;
    width:1.5em
}
.button .icon:first-child:not(:last-child){
    margin-left:calc(-0.375em - 1px);
    margin-right:0.1875em
}
.button .icon:last-child:not(:first-child){
    margin-left:0.1875em;
    margin-right:calc(-0.375em - 1px)
}
.button .icon:first-child:last-child{
    margin-left:calc(-0.375em - 1px);
    margin-right:calc(-0.375em - 1px)
}
.button:hover,.button.is-hovered{
    border-color:#b5b5b5;
    color:#363636
}
.button:focus,.button.is-focused{
    border-color:#3273dc;
    color:#363636
}
.button:focus:not(:active),.button.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(50,115,220,0.25)
}
.button:active,.button.is-active{
    border-color:#4a4a4a;
    color:#363636
}
.button.is-text{
    background-color:transparent;
    border-color:transparent;
    color:#4a4a4a;
    text-decoration:underline
}
.button.is-text:hover,.button.is-text.is-hovered,.button.is-text:focus,.button.is-text.is-focused{
    background-color:whitesmoke;
    color:#363636
}
.button.is-text:active,.button.is-text.is-active{
    background-color:#e8e8e8;
    color:#363636
}
.button.is-text[disabled]{
    background-color:transparent;
    border-color:transparent;
    box-shadow:none
}
.button.is-white{
    background-color:white;
    border-color:transparent;
    color:#0a0a0a
}
.button.is-white:hover,.button.is-white.is-hovered{
    background-color:#f9f9f9;
    border-color:transparent;
    color:#0a0a0a
}
.button.is-white:focus,.button.is-white.is-focused{
    border-color:transparent;
    color:#0a0a0a
}
.button.is-white:focus:not(:active),.button.is-white.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(255,255,255,0.25)
}
.button.is-white:active,.button.is-white.is-active{
    background-color:#f2f2f2;
    border-color:transparent;
    color:#0a0a0a
}
.button.is-white[disabled]{
    background-color:white;
    border-color:transparent;
    box-shadow:none
}
.button.is-white.is-inverted{
    background-color:#0a0a0a;
    color:white
}
.button.is-white.is-inverted:hover{
    background-color:black
}
.button.is-white.is-inverted[disabled]{
    background-color:#0a0a0a;
    border-color:transparent;
    box-shadow:none;
    color:white
}
.button.is-white.is-loading::after{
    border-color:transparent transparent #0a0a0a #0a0a0a !important
}
.button.is-white.is-outlined{
    background-color:transparent;
    border-color:white;
    color:white
}
.button.is-white.is-outlined:hover,.button.is-white.is-outlined:focus{
    background-color:white;
    border-color:white;
    color:#0a0a0a
}
.button.is-white.is-outlined.is-loading::after{
    border-color:transparent transparent white white !important
}
.button.is-white.is-outlined[disabled]{
    background-color:transparent;
    border-color:white;
    box-shadow:none;
    color:white
}
.button.is-white.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#0a0a0a;
    color:#0a0a0a
}
.button.is-white.is-inverted.is-outlined:hover,.button.is-white.is-inverted.is-outlined:focus{
    background-color:#0a0a0a;
    color:white
}
.button.is-white.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#0a0a0a;
    box-shadow:none;
    color:#0a0a0a
}
.button.is-black{
    background-color:#0a0a0a;
    border-color:transparent;
    color:white
}
.button.is-black:hover,.button.is-black.is-hovered{
    background-color:#040404;
    border-color:transparent;
    color:white
}
.button.is-black:focus,.button.is-black.is-focused{
    border-color:transparent;
    color:white
}
.button.is-black:focus:not(:active),.button.is-black.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(10,10,10,0.25)
}
.button.is-black:active,.button.is-black.is-active{
    background-color:black;
    border-color:transparent;
    color:white
}
.button.is-black[disabled]{
    background-color:#0a0a0a;
    border-color:transparent;
    box-shadow:none
}
.button.is-black.is-inverted{
    background-color:white;
    color:#0a0a0a
}
.button.is-black.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-black.is-inverted[disabled]{
    background-color:white;
    border-color:transparent;
    box-shadow:none;
    color:#0a0a0a
}
.button.is-black.is-loading::after{
    border-color:transparent transparent white white !important
}
.button.is-black.is-outlined{
    background-color:transparent;
    border-color:#0a0a0a;
    color:#0a0a0a
}
.button.is-black.is-outlined:hover,.button.is-black.is-outlined:focus{
    background-color:#0a0a0a;
    border-color:#0a0a0a;
    color:white
}
.button.is-black.is-outlined.is-loading::after{
    border-color:transparent transparent #0a0a0a #0a0a0a !important
}
.button.is-black.is-outlined[disabled]{
    background-color:transparent;
    border-color:#0a0a0a;
    box-shadow:none;
    color:#0a0a0a
}
.button.is-black.is-inverted.is-outlined{
    background-color:transparent;
    border-color:white;
    color:white
}
.button.is-black.is-inverted.is-outlined:hover,.button.is-black.is-inverted.is-outlined:focus{
    background-color:white;
    color:#0a0a0a
}
.button.is-black.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:white;
    box-shadow:none;
    color:white
}
.button.is-light{
    background-color:whitesmoke;
    border-color:transparent;
    color:#363636
}
.button.is-light:hover,.button.is-light.is-hovered{
    background-color:#eeeeee;
    border-color:transparent;
    color:#363636
}
.button.is-light:focus,.button.is-light.is-focused{
    border-color:transparent;
    color:#363636
}
.button.is-light:focus:not(:active),.button.is-light.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(245,245,245,0.25)
}
.button.is-light:active,.button.is-light.is-active{
    background-color:#e8e8e8;
    border-color:transparent;
    color:#363636
}
.button.is-light[disabled]{
    background-color:whitesmoke;
    border-color:transparent;
    box-shadow:none
}
.button.is-light.is-inverted{
    background-color:#363636;
    color:whitesmoke
}
.button.is-light.is-inverted:hover{
    background-color:#292929
}
.button.is-light.is-inverted[disabled]{
    background-color:#363636;
    border-color:transparent;
    box-shadow:none;
    color:whitesmoke
}
.button.is-light.is-loading::after{
    border-color:transparent transparent #363636 #363636 !important
}
.button.is-light.is-outlined{
    background-color:transparent;
    border-color:whitesmoke;
    color:whitesmoke
}
.button.is-light.is-outlined:hover,.button.is-light.is-outlined:focus{
    background-color:whitesmoke;
    border-color:whitesmoke;
    color:#363636
}
.button.is-light.is-outlined.is-loading::after{
    border-color:transparent transparent whitesmoke whitesmoke !important
}
.button.is-light.is-outlined[disabled]{
    background-color:transparent;
    border-color:whitesmoke;
    box-shadow:none;
    color:whitesmoke
}
.button.is-light.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#363636;
    color:#363636
}
.button.is-light.is-inverted.is-outlined:hover,.button.is-light.is-inverted.is-outlined:focus{
    background-color:#363636;
    color:whitesmoke
}
.button.is-light.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#363636;
    box-shadow:none;
    color:#363636
}
.button.is-dark{
    background-color:#363636;
    border-color:transparent;
    color:whitesmoke
}
.button.is-dark:hover,.button.is-dark.is-hovered{
    background-color:#2f2f2f;
    border-color:transparent;
    color:whitesmoke
}
.button.is-dark:focus,.button.is-dark.is-focused{
    border-color:transparent;
    color:whitesmoke
}
.button.is-dark:focus:not(:active),.button.is-dark.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(54,54,54,0.25)
}
.button.is-dark:active,.button.is-dark.is-active{
    background-color:#292929;
    border-color:transparent;
    color:whitesmoke
}
.button.is-dark[disabled]{
    background-color:#363636;
    border-color:transparent;
    box-shadow:none
}
.button.is-dark.is-inverted{
    background-color:whitesmoke;
    color:#363636
}
.button.is-dark.is-inverted:hover{
    background-color:#e8e8e8
}
.button.is-dark.is-inverted[disabled]{
    background-color:whitesmoke;
    border-color:transparent;
    box-shadow:none;
    color:#363636
}
.button.is-dark.is-loading::after{
    border-color:transparent transparent whitesmoke whitesmoke !important
}
.button.is-dark.is-outlined{
    background-color:transparent;
    border-color:#363636;
    color:#363636
}
.button.is-dark.is-outlined:hover,.button.is-dark.is-outlined:focus{
    background-color:#363636;
    border-color:#363636;
    color:whitesmoke
}
.button.is-dark.is-outlined.is-loading::after{
    border-color:transparent transparent #363636 #363636 !important
}
.button.is-dark.is-outlined[disabled]{
    background-color:transparent;
    border-color:#363636;
    box-shadow:none;
    color:#363636
}
.button.is-dark.is-inverted.is-outlined{
    background-color:transparent;
    border-color:whitesmoke;
    color:whitesmoke
}
.button.is-dark.is-inverted.is-outlined:hover,.button.is-dark.is-inverted.is-outlined:focus{
    background-color:whitesmoke;
    color:#363636
}
.button.is-dark.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:whitesmoke;
    box-shadow:none;
    color:whitesmoke
}
.button.is-primary{
    background-color:#2E3C96;
    border-color:transparent;
    color:#fff
}
.button.is-primary:hover,.button.is-primary.is-hovered{
    background-color:#2b388c;
    border-color:transparent;
    color:#fff
}
.button.is-primary:focus,.button.is-primary.is-focused{
    border-color:transparent;
    color:#fff
}
.button.is-primary:focus:not(:active),.button.is-primary.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(46,60,150,0.25)
}
.button.is-primary:active,.button.is-primary.is-active{
    background-color:#283482;
    border-color:transparent;
    color:#fff
}
.button.is-primary[disabled]{
    background-color:#2E3C96;
    border-color:transparent;
    box-shadow:none
}
.button.is-primary.is-inverted{
    background-color:#fff;
    color:#2E3C96
}
.button.is-primary.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-primary.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    box-shadow:none;
    color:#2E3C96
}
.button.is-primary.is-loading::after{
    border-color:transparent transparent #fff #fff !important
}
.button.is-primary.is-outlined{
    background-color:transparent;
    border-color:#2E3C96;
    color:#2E3C96
}
.button.is-primary.is-outlined:hover,.button.is-primary.is-outlined:focus{
    background-color:#2E3C96;
    border-color:#2E3C96;
    color:#fff
}
.button.is-primary.is-outlined.is-loading::after{
    border-color:transparent transparent #2E3C96 #2E3C96 !important
}
.button.is-primary.is-outlined[disabled]{
    background-color:transparent;
    border-color:#2E3C96;
    box-shadow:none;
    color:#2E3C96
}
.button.is-primary.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-primary.is-inverted.is-outlined:hover,.button.is-primary.is-inverted.is-outlined:focus{
    background-color:#fff;
    color:#2E3C96
}
.button.is-primary.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    box-shadow:none;
    color:#fff
}
.button.is-link{
    background-color:#3273dc;
    border-color:transparent;
    color:#fff
}
.button.is-link:hover,.button.is-link.is-hovered{
    background-color:#276cda;
    border-color:transparent;
    color:#fff
}
.button.is-link:focus,.button.is-link.is-focused{
    border-color:transparent;
    color:#fff
}
.button.is-link:focus:not(:active),.button.is-link.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(50,115,220,0.25)
}
.button.is-link:active,.button.is-link.is-active{
    background-color:#2366d1;
    border-color:transparent;
    color:#fff
}
.button.is-link[disabled]{
    background-color:#3273dc;
    border-color:transparent;
    box-shadow:none
}
.button.is-link.is-inverted{
    background-color:#fff;
    color:#3273dc
}
.button.is-link.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-link.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    box-shadow:none;
    color:#3273dc
}
.button.is-link.is-loading::after{
    border-color:transparent transparent #fff #fff !important
}
.button.is-link.is-outlined{
    background-color:transparent;
    border-color:#3273dc;
    color:#3273dc
}
.button.is-link.is-outlined:hover,.button.is-link.is-outlined:focus{
    background-color:#3273dc;
    border-color:#3273dc;
    color:#fff
}
.button.is-link.is-outlined.is-loading::after{
    border-color:transparent transparent #3273dc #3273dc !important
}
.button.is-link.is-outlined[disabled]{
    background-color:transparent;
    border-color:#3273dc;
    box-shadow:none;
    color:#3273dc
}
.button.is-link.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-link.is-inverted.is-outlined:hover,.button.is-link.is-inverted.is-outlined:focus{
    background-color:#fff;
    color:#3273dc
}
.button.is-link.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    box-shadow:none;
    color:#fff
}
.button.is-info{
    background-color:#1E90FF;
    border-color:transparent;
    color:#fff
}
.button.is-info:hover,.button.is-info.is-hovered{
    background-color:#118aff;
    border-color:transparent;
    color:#fff
}
.button.is-info:focus,.button.is-info.is-focused{
    border-color:transparent;
    color:#fff
}
.button.is-info:focus:not(:active),.button.is-info.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(30,144,255,0.25)
}
.button.is-info:active,.button.is-info.is-active{
    background-color:#0583ff;
    border-color:transparent;
    color:#fff
}
.button.is-info[disabled]{
    background-color:#1E90FF;
    border-color:transparent;
    box-shadow:none
}
.button.is-info.is-inverted{
    background-color:#fff;
    color:#1E90FF
}
.button.is-info.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-info.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    box-shadow:none;
    color:#1E90FF
}
.button.is-info.is-loading::after{
    border-color:transparent transparent #fff #fff !important
}
.button.is-info.is-outlined{
    background-color:transparent;
    border-color:#1E90FF;
    color:#1E90FF
}
.button.is-info.is-outlined:hover,.button.is-info.is-outlined:focus{
    background-color:#1E90FF;
    border-color:#1E90FF;
    color:#fff
}
.button.is-info.is-outlined.is-loading::after{
    border-color:transparent transparent #1E90FF #1E90FF !important
}
.button.is-info.is-outlined[disabled]{
    background-color:transparent;
    border-color:#1E90FF;
    box-shadow:none;
    color:#1E90FF
}
.button.is-info.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-info.is-inverted.is-outlined:hover,.button.is-info.is-inverted.is-outlined:focus{
    background-color:#fff;
    color:#1E90FF
}
.button.is-info.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    box-shadow:none;
    color:#fff
}
.button.is-success{
    background-color:#0CCE60;
    border-color:transparent;
    color:#fff
}
.button.is-success:hover,.button.is-success.is-hovered{
    background-color:#0bc25a;
    border-color:transparent;
    color:#fff
}
.button.is-success:focus,.button.is-success.is-focused{
    border-color:transparent;
    color:#fff
}
.button.is-success:focus:not(:active),.button.is-success.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(12,206,96,0.25)
}
.button.is-success:active,.button.is-success.is-active{
    background-color:#0bb655;
    border-color:transparent;
    color:#fff
}
.button.is-success[disabled]{
    background-color:#0CCE60;
    border-color:transparent;
    box-shadow:none
}
.button.is-success.is-inverted{
    background-color:#fff;
    color:#0CCE60
}
.button.is-success.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-success.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    box-shadow:none;
    color:#0CCE60
}
.button.is-success.is-loading::after{
    border-color:transparent transparent #fff #fff !important
}
.button.is-success.is-outlined{
    background-color:transparent;
    border-color:#0CCE60;
    color:#0CCE60
}
.button.is-success.is-outlined:hover,.button.is-success.is-outlined:focus{
    background-color:#0CCE60;
    border-color:#0CCE60;
    color:#fff
}
.button.is-success.is-outlined.is-loading::after{
    border-color:transparent transparent #0CCE60 #0CCE60 !important
}
.button.is-success.is-outlined[disabled]{
    background-color:transparent;
    border-color:#0CCE60;
    box-shadow:none;
    color:#0CCE60
}
.button.is-success.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-success.is-inverted.is-outlined:hover,.button.is-success.is-inverted.is-outlined:focus{
    background-color:#fff;
    color:#0CCE60
}
.button.is-success.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    box-shadow:none;
    color:#fff
}
.button.is-warning{
    background-color:#FED99B;
    border-color:transparent;
    color:rgba(0,0,0,0.7)
}
.button.is-warning:hover,.button.is-warning.is-hovered{
    background-color:#fed48e;
    border-color:transparent;
    color:rgba(0,0,0,0.7)
}
.button.is-warning:focus,.button.is-warning.is-focused{
    border-color:transparent;
    color:rgba(0,0,0,0.7)
}
.button.is-warning:focus:not(:active),.button.is-warning.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(254,217,155,0.25)
}
.button.is-warning:active,.button.is-warning.is-active{
    background-color:#fecf82;
    border-color:transparent;
    color:rgba(0,0,0,0.7)
}
.button.is-warning[disabled]{
    background-color:#FED99B;
    border-color:transparent;
    box-shadow:none
}
.button.is-warning.is-inverted{
    background-color:rgba(0,0,0,0.7);
    color:#FED99B
}
.button.is-warning.is-inverted:hover{
    background-color:rgba(0,0,0,0.7)
}
.button.is-warning.is-inverted[disabled]{
    background-color:rgba(0,0,0,0.7);
    border-color:transparent;
    box-shadow:none;
    color:#FED99B
}
.button.is-warning.is-loading::after{
    border-color:transparent transparent rgba(0,0,0,0.7) rgba(0,0,0,0.7) !important
}
.button.is-warning.is-outlined{
    background-color:transparent;
    border-color:#FED99B;
    color:#FED99B
}
.button.is-warning.is-outlined:hover,.button.is-warning.is-outlined:focus{
    background-color:#FED99B;
    border-color:#FED99B;
    color:rgba(0,0,0,0.7)
}
.button.is-warning.is-outlined.is-loading::after{
    border-color:transparent transparent #FED99B #FED99B !important
}
.button.is-warning.is-outlined[disabled]{
    background-color:transparent;
    border-color:#FED99B;
    box-shadow:none;
    color:#FED99B
}
.button.is-warning.is-inverted.is-outlined{
    background-color:transparent;
    border-color:rgba(0,0,0,0.7);
    color:rgba(0,0,0,0.7)
}
.button.is-warning.is-inverted.is-outlined:hover,.button.is-warning.is-inverted.is-outlined:focus{
    background-color:rgba(0,0,0,0.7);
    color:#FED99B
}
.button.is-warning.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:rgba(0,0,0,0.7);
    box-shadow:none;
    color:rgba(0,0,0,0.7)
}
.button.is-danger{
    background-color:#FF5964;
    border-color:transparent;
    color:#fff
}
.button.is-danger:hover,.button.is-danger.is-hovered{
    background-color:#ff4c58;
    border-color:transparent;
    color:#fff
}
.button.is-danger:focus,.button.is-danger.is-focused{
    border-color:transparent;
    color:#fff
}
.button.is-danger:focus:not(:active),.button.is-danger.is-focused:not(:active){
    box-shadow:0 0 0 0.125em rgba(255,89,100,0.25)
}
.button.is-danger:active,.button.is-danger.is-active{
    background-color:#ff404c;
    border-color:transparent;
    color:#fff
}
.button.is-danger[disabled]{
    background-color:#FF5964;
    border-color:transparent;
    box-shadow:none
}
.button.is-danger.is-inverted{
    background-color:#fff;
    color:#FF5964
}
.button.is-danger.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-danger.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    box-shadow:none;
    color:#FF5964
}
.button.is-danger.is-loading::after{
    border-color:transparent transparent #fff #fff !important
}
.button.is-danger.is-outlined{
    background-color:transparent;
    border-color:#FF5964;
    color:#FF5964
}
.button.is-danger.is-outlined:hover,.button.is-danger.is-outlined:focus{
    background-color:#FF5964;
    border-color:#FF5964;
    color:#fff
}
.button.is-danger.is-outlined.is-loading::after{
    border-color:transparent transparent #FF5964 #FF5964 !important
}
.button.is-danger.is-outlined[disabled]{
    background-color:transparent;
    border-color:#FF5964;
    box-shadow:none;
    color:#FF5964
}
.button.is-danger.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-danger.is-inverted.is-outlined:hover,.button.is-danger.is-inverted.is-outlined:focus{
    background-color:#fff;
    color:#FF5964
}
.button.is-danger.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    box-shadow:none;
    color:#fff
}
.button.is-small{
    border-radius:2px;
    font-size:0.9375rem
}
.button.is-medium{
    font-size:1.25rem
}
.button.is-large{
    font-size:1.5rem
}
.button[disabled]{
    background-color:white;
    border-color:#dbdbdb;
    box-shadow:none;
    opacity:0.5
}
.button.is-fullwidth{
    display:flex;
    width:100%
}
.button.is-loading{
    color:transparent !important;
    pointer-events:none
}
.button.is-loading::after{
    position:absolute;
    left:calc(50% - (1em / 2));
    top:calc(50% - (1em / 2));
    position:absolute !important
}
.button.is-static{
    background-color:whitesmoke;
    border-color:#dbdbdb;
    color:#7a7a7a;
    box-shadow:none;
    pointer-events:none
}
.button.is-rounded{
    border-radius:290486px;
    padding-left:1em;
    padding-right:1em
}
.is-block{
    display:block !important
}
